
*{
  box-sizing: border-box;
  font-family: "Helvetica";
}

.whole {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(225, 232, 237);
  margin-left: 10px;
  padding: 1px 18px 5px 40px;
  width: 1000px;
  height: 43vw;
  position: absolute;
}

#profile {
  position: absolute;
  float: left;
  margin-top: 5vh;
}

#nickName {
  position: relative;
  float: left;
  font-size: 1.9rem;
  margin-left: 8%;
  margin-top: 5.5vh;
}

#logo {
  float: left;
  margin-left: 29px;
}
.validate {
  position: absolute;
  float: left;
  opacity: 1;
  margin-top: 5.5vh;
}
.button {
  position: absolute;
  float: right;
  border: 2.5px solid rgb(85, 172, 238);
  padding: 13px 24.5px 13px 25px;
  align-content: center;
  right: 10%;
  background-color: inherit;
  margin-top: 5vw;
  border-radius: 5px;
}

#compLogo {
  position: relative;
  float: left;
}

.follow {
  color: rgb(85, 172, 238);
  font-size: 29px;
  font-weight: bold;
  align-self: center;
  margin-top: 15vw;
  position: relative;

}

.nick2 {
  color: rgb(104, 109, 129);
  margin-left: 15%;
  margin-top: 2vw;
}

#tweeting {
  position: absolute;
  float: center;
}

.first{
  font-size: 2rem;
  margin-top: 38%;
}

.second{
  font-size: 1.75rem;
  color:rgb(105, 120, 130);
  margin-top: -2.7vw;
}

.reply {
  margin-right: 40px;
}

.numberTweets {
  font-size: 1.70rem;
  color: rgb(101, 116, 127);
}

.heart {
  margin-left: 35px;
}
